{{#if alumnos}}
 <table class="table table-sm" >
    <thead>
        <tr class="text center">
            <th scope="col">Num.</th>
            <th scope="col">Nombre</th>
            <th scope="col">Paterno</th>
            <th scope="col">Materno</th>
            <th scope="col">Nacimiento</th>
            <th scope="col">Sexo</th>
            <th scope="col">Celular</th>
            <th scope="col">Direccion</th>
            <th scope="col">Acciones</th>
        </tr>
    </thead>
    <tbody>
        {{#each alumnos}}
        <tr>
            <td>{{@index}}</td>
            <td>{{nombre}}</td>
            <td>{{paterno}}</td>
            <td>{{materno}}</td>
            <td>{{fechaNacimiento}}</td>
            <td>{{sexo}}</td>
            <td>{{celular}}</td>
            <td>{{direccion}}</td>
            
            
            <td>
              {{#if opcion}}
              <a href="/statusAlumno/{{_id}}" class="btn btn-warning">No activo</a>
              {{else}}
                <a href="/statusAlumno/{{_id}}" class="btn btn-success">Activo</a>
              {{/if}}
              
               <td><a href="/actualizarAlumno/{{_id}}" style="background-color: rgb(197, 139, 189)" class="btn btn-outline-light" >Actualizar</a>
               </td> 
               <td>
                <a href="/eliminarAlumno/{{_id}} " style="background-color: rgb(197, 139, 189)" class="btn btn-outline-light" >Eliminar</a>
                </td>
            </td>
        </tr>
        {{/each}}
    </tbody>
</table>
{{else}}
<div class="h-100 d-flex align-items-center justify-content-right">
    <div class="registro">
    <h1>No hay alumnos</h1>
    <img src="/icons/carpeta-vacia.png" class="w-75">
</div>
</div>

{{/if}}